body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    font-family:Arial,sans-serif;
    background-color:#f0f0f0;
}
.calculator{
    width:300px;
    background-color:#fff;
    border-radius:10px;
    box-shadow:0 0 20px rgbs(0,0,0,0.1);
    overflow:hidden;
}
.display{
    background-color: #222;
    color:#fff;
    font-size: 2em;
    text-align: right;
    padding: 20px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1px;
}
.btn{
    background-color: #e0e0e0;
    border:none;
    padding:20px;
    font-size:1.5em;
    cursor:pointer;
    transition:background-color 0.3s;
}
.btn:hover{
    background-color: #d0d0d0;
}
.btn[data-value="="]{
    background-color: #4caf50;
    color: #fff;
}
.btn[data-value="="]:hover{
    background-color: #45A049;
}
.btn[data-value="C"]{
    background-color: #f44336;;
    color: #fff;
}
.btn[data-value="C"]:hover{
    background-color: #e53935;
}

